In [2]:
import pandas as pd
import numpy as np

In [3]:
# using the list generated fromt the OPUS corpora
df = pd.read_csv("lemmatize/top_10.csv", index_col=0)
# remove the obsolete id column
#df.drop("Unnamed: 0", axis=1, inplace=True)
# write df to csv file
#df.to_csv("top_10.csv")
print(df.tail())

           word  frequency
9995  prefieren       5415
9996    locuras       5415
9997       tate       5414
9998   estrelló       5413
9999       chau       5413

In [4]:
# using the list from lexiconista
ldf = pd.read_csv("lemmatize/lemmatization-es.tsv", sep="\t", names=["lemma", "word"])
print(ldf.tail())

           lemma       word
497555   zurullo   zurullos
497556  zurupeto  zurupetos
497557    zutano     zutana
497558    zutano    zutanas
497559    zutano    zutanos

In [5]:
#col_len = len(df['word'])

#df['lemma'] = pd.Series(np.zeros(col_len), index=df.index)

In [6]:
# http://stackoverflow.com/questions/42060144/conditionally-fill-a-column-of-a-pandas-df-with-values-of-a-different-df/42060166#42060166
fdf = df.merge(ldf, how='left', on='word')

In [10]:
fdf.head(500)

            word  frequency      lemma
0             de   33504559        NaN
1            que   32700217        NaN
2             no   28263302        NaN
3              a   21978600        NaN
4             la   21249418         el
5             la   21249418         lo
6             el   17670975        NaN
7              y   16216363        NaN
8             es   15903603        ser
9             en   15798966        NaN
10            lo   13765928         el
11            un   12988415        uno
12           por   10147976        NaN
13           qué    9536458        NaN
14            me    8921464        NaN
15           una    8812752       unir
16           una    8812752        uno
17           los    7428695         el
18           los    7428695         lo
19            te    7092298        NaN
20            se    7073441        NaN
21           con    6878109        NaN
22          para    6454026      parar
23          para    6454026      parir
24          está    5612724      estar
25            mi    5467457        NaN
26            si    5353426        NaN
27          pero    5232352        NaN
28            sí    5130370        NaN
29           las    4729547         el
..           ...        ...        ...
470        igual     225676        NaN
471       doctor     224895        NaN
472        abajo     224326     abajar
473     deberías     222297      deber
474          fui     222259         ir
475          fui     222259        ser
476      incluso     220491        NaN
477       cuerpo     220042        NaN
478        morir     219563        NaN
479         dame     216752        NaN
480       número     216619        NaN
481      algunas     216230     alguno
482  oportunidad     216072        NaN
483     trabajar     216070        NaN
484        meses     215011        mes
485        meses     215011      mesar
486        juego     214913      jugar
487     teléfono     213328        NaN
488     pregunta     213230  preguntar
489      posible     212859        NaN
490           ok     212780        NaN
491      estabas     212165      estar
492        final     212076        NaN
493        podía     211499      poder
494       tenido     211374      tener
495        coche     209236        NaN
496      segundo     209179          2
497      segundo     209179   segundar
498       fuerte     209006        NaN
499          dar     208947        NaN

[500 rows x 3 columns]

In [ ]:
fdf.lemma = fdf.fdf.word